<div class="container my-3">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card border-dark" style="width: 18rem;">
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 300, crop: :fill, class: "card-img-top"  %>
          <div class="card-body bg-dark">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <% if cocktail.rating.nil? %>
              <% 5.times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% else %>
              <% cocktail.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - cocktail.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
