<div class="container-fluid">
  <h5>Rain or shine <i class="fas fa-cloud-sun-rain fa-lg"></i> by Felicia G</h5>
  <div class="flex">
    <i class="fab fa-github fa-lg"></i>
    <i class="fab fa-twitter fa-lg"></i>
    <i class="fas fa-envelope fa-lg"></i>
  </div>
</div>
